<div class="pregunta">
	<div class="dudaDiv">
		<label for="duda">Duda</label>
		<input type="checkbox" class="duda" id="duda">
	</div>
	<p class="grande" id="tit">Pregunta 1</p>
	<hr class="separator">
	<p class="media" id="enun">¿Cual es la edad mínima para examinarse del carnet B?</p>
	<img class="testImage" id="testImage" src="" alt="Imagen" width="300px" height="168px"></img>
	<br><br><br>
	<input type="radio" id="A" name="preg"><label for="A" id="lblA">16 años</label><br><br>
	<input type="radio" id="B" name="preg"><label for="B" id="lblB">18 años</label><br><br>
	<input type="radio" id="C" name="preg"><label for="C" id="lblC">20 años</label>


<br><br><br>

<button class="quitar" id="quitar">Quitar elección</button>
<button class="siguiente" id="siguiente">Siguiente</button>

</div>