<div class="pregunta">
	<div class="dudaDiv">
		<label for="duda">Duda</label>
		<input type="checkbox" class="duda" id="duda">
	</div>
	<p class="grande" id="tit">Pregunta 1</p>
	<hr class="separator">
	<p class="media" id="enun">쮺ual es la edad m칤nima para examinarse del carnet B?</p>
	<img class="testImage" id="testImage" src="" alt="Imagen" width="300px" height="168px"></img>
	<br><br><br>
	<input type="radio" id="A" name="preg"><label for="A" id="lblA">16 a침os</label><br><br>
	<input type="radio" id="B" name="preg"><label for="B" id="lblB">18 a침os</label><br><br>
	<input type="radio" id="C" name="preg"><label for="C" id="lblC">20 a침os</label>


<br><br><br>

<button class="quitar" id="quitar">Quitar elecci칩n</button>
<button class="siguiente" id="siguiente">Siguiente 游맸</button>
<button class="anterior" id="anterior">游맶 Anterior</button>


</div>