<div class="pregunta">
	<div class="duda">
		<label for="duda" id="duda">Duda</label>
		<input type="checkbox" name="duda">
	</div>
	<p class="grande">Pregunta 1</p>
	<hr class="separator">
	<p class="media">¿Cual es la edad mínima para examinarse del carnet B?</p>
	<input type="radio" id="a" name="opcion"><label for="a">16 años</label><br><br>
	<input type="radio" id="b" name="opcion"><label for="b">18 años</label><br><br>
	<input type="radio" id="c" name="opcion"><label for="c">20 años</label>

	<br><br>

	<button class="quitar">Quitar elección</button>
	<button class="siguiente">Siguiente</button>

</div>
